@use '../../styles/mixins/index' as *;

.similar-phones {
  &__title {
    @include text-sm;
    color: var(--color-black);
    padding-bottom: var(--space-lg);
  }

  &__grid {
    display: flex;
    overflow-x: auto;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: #000000 transparent;

    &::-webkit-scrollbar {
      height: 2px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000000;
    }

    > li {
      flex: 0 0 280px;
      aspect-ratio: 1;
      overflow: hidden;
      border: 0.5px solid var(--color-black);
      display: flex;
    }

    @include desktop {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      overflow-x: visible;
      border-top: 0.5px solid var(--color-black);
      border-left: 0.5px solid var(--color-black);

      > li {
        flex: unset;
        border: none;
        border-right: 0.5px solid var(--color-black);
        border-bottom: 0.5px solid var(--color-black);
      }
    }
  }
}
