@use '../../styles/variables' as *;
@use '../../styles/mixins/index' as *;

.similar-phones {
  padding-left: $space-xl;
  padding-top: $space-7xl;
  padding-bottom: $space-7xl;

  @include tablet {
    padding-left: $space-4xl;
  }

  @include desktop {
    padding-left: $space-7xl;
  }

  &__title {
    @include text-lg;
    text-transform: uppercase;
    color: $color-black;
    padding-bottom: $space-4xl;
  }

  &__grid {
    display: flex;
    overflow-x: auto;
    list-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > li {
      flex: 0 0 95%;
      aspect-ratio: 1;
      overflow: hidden;
      border: $border-thin solid $color-black;
      display: flex;

      &:not(:last-child) {
        border-right: unset;
      }
    }

    @include tablet {
      li {
        flex: 0 0 50%;
      }
    }

    @include desktop {
      li {
        flex: 0 0 26.5%;
      }
    }
  }

  &__scrollbar-track {
    height: 1px;
    background: $color-gray-light;
    position: relative;
    margin-top: $space-4xl;
    margin-right: $space-xl;

    @include tablet {
      margin-right: $space-4xl;
    }

    @include desktop {
      margin-right: $space-7xl;
    }
  }

  &__scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $color-black;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
