@use 'variables' as *;
@use 'mixins/index' as *;

.container {
  width: 100%;

  &--xl {
    padding-left: $space-xl;
    padding-right: $space-xl;

    @include tablet {
      padding-left: $space-4xl;
      padding-right: $space-4xl;
    }

    @include desktop {
      padding-left: $space-7xl;
      padding-right: $space-7xl;
    }
  }

  &--lg {
    padding-left: $space-lg;
    padding-right: $space-lg;

    @include tablet {
      padding-left: $space-2xl;
      padding-right: $space-2xl;
    }

    @include desktop {
      padding-left: $space-4xl;
      padding-right: $space-4xl;
    }
  }

  &--md {
    padding-left: $space-lg;
    padding-right: $space-lg;

    @include tablet {
      padding-left: $space-xl;
      padding-right: $space-xl;
    }

    @include desktop {
      padding-left: $space-2xl;
      padding-right: $space-2xl;
    }
  }
}
