@use 'mixins/index' as *;

.container {
  width: 100%;

  &--xl {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);

    @include tablet {
      padding-left: var(--space-4xl);
      padding-right: var(--space-4xl);
    }

    @include desktop {
      padding-left: var(--space-6xl);
      padding-right: var(--space-6xl);
    }
  }

  &--lg {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);

    @include tablet {
      padding-left: var(--space-2xl);
      padding-right: var(--space-2xl);
    }

    @include desktop {
      padding-left: var(--space-4xl);
      padding-right: var(--space-4xl);
    }
  }

  &--md {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);

    @include tablet {
      padding-left: var(--space-xl);
      padding-right: var(--space-xl);
    }

    @include desktop {
      padding-left: var(--space-2xl);
      padding-right: var(--space-2xl);
    }
  }
}
