@use '../../styles/variables' as *;
@use '../../styles/mixins/index' as *;

.storage-selector {
  display: flex;
  flex-direction: column;
  gap: $space-2xl;

  &__label {
    @include text-sm;
    font-size: $font-size-label;
    color: $color-black;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
  }

  &__chip {
    @include text-sm;
    font-size: $font-size-label;
    padding: $space-2xl $space-2xl;
    outline: $border-thin solid $color-gray-light;
    background: $color-white;
    color: $color-black;
    cursor: pointer;
    position: relative;

    &--selected {
      outline: unset;
      border: $border-thin solid $color-black;
      z-index: 1;
    }

    &:hover:not(&--selected) {
      border-color: $color-black;
    }
  }
}
