@use '../../styles/mixins/index' as *;

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 48px;
  padding-bottom: 48px;
  background: var(--color-white);

  &__input {
    width: 100%;
    border: none;
    border-bottom: 0.5px solid #000000;
    @include text-md;
    vertical-align: middle;
    color: var(--color-black);
    background: transparent;
    outline: none;
    padding-bottom: var(--space-sm);

    &::placeholder {
      color: #aaaaaa;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  &__count {
    @include text-sm;
    color: #000000;
  }
}
