@use '../../styles/mixins/index' as *;

.phone-list-page {
  min-height: calc(100vh - 80px);

  &__status {
    padding-top: var(--space-4xl);
    padding-bottom: var(--space-4xl);
    @include text-sm;
    color: var(--color-black);

    &--error {
      color: var(--color-error);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    border-top: 0.5px solid var(--color-black);
    border-left: 0.5px solid var(--color-black);

    > li {
      aspect-ratio: 1;
      overflow: hidden;
      border-right: 0.5px solid var(--color-black);
      border-bottom: 0.5px solid var(--color-black);
      display: flex;
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }

    @include widescreen {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
