@use '../../styles/mixins/index' as *;

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 80px;
  background: var(--color-white);

  &--bordered {
    border-bottom: 0.5px solid var(--color-gray-light);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    height: 28px;
    width: auto;
  }

  &__cart {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    color: var(--color-black);
  }

  &__bag-icon {
    width: 33px;
    height: 26px;
  }

  &__cart-count {
    @include text-md;
    color: var(--color-black);
  }
}
