.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 80px;
  background: var(--color-white);
  border-bottom: 0.5px solid var(--color-gray-light);
}

.navbar__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 var(--space-6xl);

  @media (max-width: 768px) {
    padding: 0 var(--space-lg);
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo-img {
  height: 28px;
  width: auto;
}

.navbar__cart {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  color: var(--color-black);
}

.navbar__bag{
  &-icon {
    width: 33px;
    height: 26px;
  }
}

.navbar__cart-count {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  color: var(--color-black);
}
